<body>
    <h1>Aanwezigheden</h1>
    <hr />
    <h2>@ViewBag.aanwezigheid</h2>
    <h2>@ViewBag.aanwezigheid2</h2>
    <h2>@ViewBag.aanwezigheid3</h2>
    <h2>@ViewBag.aanwezigheid4</h2>

    <a href="/">Home</a>
</body>